@page
@model Exercises.Pages.Lesson1.Assignment5

@{
    ViewData["Title"] = "5";
}

<div>
    <form method="post">
        <h1>Happy: <span id="happyCount">@Model.Happy</span>
            <button id="btnHappy" type="submit" value="@Model.Happy">Happy++</button>
        </h1>

        <h1>Disappointed: <span id="disappointedCount">@Model.Disappointed</span>
            <button id="btnDisappointed" type="submit" value="@Model.Disappointed">Disappointed++</button>
        </h1>

        <h1>Angry: <span id="angryCount">@Model.Angry</span>
            <button id="btnAngry" type="submit" value="@Model.Angry">Angry++</button>
        </h1>

        <hr>

        <button id="btnDeleteCookie" type="submit" ###>Delete Cookie</button>
    </form>
</div>
